
/* Navbar */

.navbar{background: var(--sky-blue); }
.navbar h2{color: var(--bg-white); padding: 1rem;}
.navbar ul{justify-content: center; align-items: center;}
.navbar ul li{margin-right: 2rem; font: 400 16px var(--ffl);}
.navbar a{color: #000; display: block; border-bottom: 3px solid var(--sky-blue); padding:1.2rem 0;}
.navbar a:hover{ border-bottom: 3px solid var(--light-pink);}

/* Navbar */




/* -----------Footer Styles --------- */

 .footer { background-color: #333; color: #fff; padding: 40px; }
  
  .social-media { margin-bottom: 20px; }
  .social-media ul { display: flex; justify-content: center; gap: 20px; list-style-type: none; }
  .social-media li a { color: #fff; font-size: 24px; text-decoration: none; }
  .footer-boxes { display: flex; justify-content: space-between; flex-wrap: wrap; gap: 20px; }
  .footer-box { flex: 1; min-width: 200px; }
  .footer-box h4 { margin-bottom: 10px; font-size: 18px; font-weight: 600; }
  .footer-box p, .footer-box ul { font-size: 14px; }
  .footer-box ul {list-style-type: none;padding: 0;}
  .footer-box ul li {margin-bottom: 5px;}
  .footer-box ul li a {color: #fff; text-decoration: none;}
  .footer-box ul li a:hover {text-decoration: underline;}
  .footer-box form { display: flex;gap: 10px;}
  .footer-box input {padding: 10px;border: none;border-radius: 5px;flex: 1;}
  .footer-box button {padding: 10px 20px;border: none;background-color: #007bff;color: #fff;border-radius: 5px;cursor: pointer;}
  .footer-box button:hover {background-color: #0056b3;}
  

/* ----------- Footer --------- */
